@import "bootstrap-sprockets";
@import "bootstrap";

html{
  font-size: 62.5%;
}
*, *::before, *::after{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.header{
  border-top:3px solid #000;
}

.header-logo {
  text-align: center;
}
.logo{
  margin:0.5em auto;
  width: 180px;
  object-fit: contain;
}

.user-link {
  z-index: 1;
  display: inline-flex;
  position: fixed;
  right: 30px;
  margin-top: 5px;
  .btn{
    border-radius: 0px;
  }
}

.headerNavBtn{
  text-align:center;
  height:3em;
  line-height:3em;
  color:#5F5F5F;
  font-size:16px;
}

.headerNavBtn:hover{
  background:#EEE;
}

.jumbotron {
  padding-top: 0px;
  background: url(main_img.jpg);
  background-size: cover;
  background-position: 50% 50%;
  height: 400px;
}

.section{
  background: #232829;
  background: -moz-linear-gradient(50% 0% -90deg, #000 0%, #232829 100%);
  background: -o-linear-gradient(-90deg, #000 0%, #232829 100%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #000), color-stop(1, #232829));
  background: -webkit-linear-gradient(-90deg, #000 0%, #232829 100%);
  background: linear-gradient(180deg, #000 0%, #232829 100%);
  padding: 2em 0 3em;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff232829,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff232829,GradientType=0);
}
.mainVisual_wrapper .container{
  padding:0;
}
.mainVisual_wrapper.section{
  padding:0;
}
.col_box{
  background:#FFF;
  border-radius:3px;
  padding:15px 0 15px;
  margin-bottom:1em;
}
.section{
  background: #232829;
  background: -moz-linear-gradient(50% 0% -90deg, #000 0%, #232829 100%);
  background: -o-linear-gradient(-90deg, #000 0%, #232829 100%);
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0, #000), color-stop(1, #232829));
  background: -webkit-linear-gradient(-90deg, #000 0%, #232829 100%);
  background: linear-gradient(180deg, #000 0%, #232829 100%);
  padding: 2em 0 3em;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff232829,GradientType=0)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000,endColorstr=#ff232829,GradientType=0);
}
.mainVisual_wrapper.section{
  padding:0;
}

.section{
  background: #151515 url('main_img.jpg') no-repeat fixed left bottom;
  -webkit-background-size: cover;
  background-size: cover;
  color: #211816;
  text-align: center;
  font-size: 1.4rem;
  font-family: 游ゴシック体, 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', メイリオ, Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.heading{
  position: relative;
  margin: 30px 0 15px;
  letter-spacing: 2px; // 文字間隔
  font-size: 3.5rem;
  display: inline-block;
  padding-bottom: 15px;
}
.heading::before,
.heading::after{
  content: '';
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #999;
}

.heading::before{
  bottom: 5px;
}

.title{
  text-align: center;
}

.field {
  input,textarea{
    width: 40%;
    margin: 0 auto;
  }
}

.table{
  background-color: rgba(210,210,210,0.9);
  th{
    background-color: rgba(220,220,220,0.9);
    text-align: center;
  }
}

.content{
  background-color: rgba(255,255,255,0.9);
  padding: 20px 30px;
  margin: 0 auto;
  text-align: left;
  border-radius: 5px;
}

#diary_content {
  height: 50vh;
}

#diary_title {
  width: 96%;
  margin-left: 2%;
}

#editor {
  margin-top: 20px;
  height: 300px;
}
.markdown-preview {
  text-align: left;
  padding: 10px;
  background-color: white;
  height: 100%;
}

.actions {
  margin-top: 150px;
  input{
    border: solid 2px #000000;
    border-radius: 5px;
    background-color: #5cb85c;
    color: #fff;
  }
}
.back-btn{
  display: inline-block;
  border: solid 2px #000000;
  border-radius: 5px;
  background-color: #d9534f;
  padding: 1px 7px 2px;
  color: #fff;

}

// 日報詳細
.show-diary-report {
  width: 90%;
  text-align: left !important;
  .nav-link {
    color: white;
    background-color: #34C3E1;
    &:hover {
      color: black;
    }

  }
}

.show-diary-report-side {
  text-align: center;
  background-color: rgba(255,255,255,0.9);
}

.side-content {
  margin: 50px;
  ul {
    margin-top: 20px;
    text-align: left;
  }
  .iine {
    margin-left: 0px;
  }
}

.explain-side {
  margin-top: 20px;
  background-color: rgba(255,255,255,0.0) !important;
  box-shadow: none !important;
}

.like {
  button {
    height: 41px;
  }
}

@media screen and (max-width: 1119px){
  .content-wrapper{
    padding: 50px 0;
  }
}

.side-content-text{
  border: solid 1px #000;
  border-radius: 5px;
  margin-top: 20px;
  padding: 10px;
}

.side-content img{
  box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.8);
  border-radius: 5px;
  display: none;
}

.fade-content{
  height: 26px;
  h3{
    margin: 0;
    display: none;
  }
}

.dragon-img{
  height: 300px;
  img {
    width: 300px;
    height: 300px;
    object-fit: contain;
  }
}
