<div class="header">
  <div class="row">
      <div class="col-xs-12">
        <%= image_tag('logo.png', class: 'logo') %>
      </div>
  </div>
</div>

<div class="headerNav">
  <div class="container">
        <div class="row headerNavBox">
            <a href="#">
                <div class="col-xs-6 col-sm-4 headerNavBtn">
                    トップページ
                </div>
            </a>
            <a href="/diaries">
                <div class="col-xs-6 col-sm-4 headerNavBtn">
                  日報一覧
                </div>
            </a>
          <a href="/diaries/new">
            <div class="col-xs-6 col-sm-4 headerNavBtn">
              新規投稿
            </div>
          </a>
        </div>
    </div>
</div>
