.header
  .row
    .col-xs-12
      = image_tag('logo.png', class: 'logo')
.headerNav
  .container
    .row.headerNavBox
      a[href="#"]
        .col-xs-6.col-sm-4.headerNavBtn
          |  トップページ
      a[href="/diaries"]
        .col-xs-6.col-sm-4.headerNavBtn
          |  日報一覧
      a[href="/diaries/new"]
        .col-xs-6.col-sm-4.headerNavBtn
          |  新規投稿
